@import "../variables";
@import "../mixins";

.user-index-page {
  @include container-columns;
  @include logo-darkmode;

  .container {
    form {
      width: 250px;
      margin-bottom: 25px;

      .field {
        padding: 10px 0;

        label {
          padding-bottom: 2px;
        }

        input {
          margin-top: 5px;
          padding: 10px 15px;
          border-radius: 3px;
          outline-style: none;
          background: transparent;
          border: 1px solid white;
          color: white;
          width: 100%;
          box-sizing: border-box;
          opacity: 0.8;
          transition: all 0.3s;

          &[type="checkbox"] {
            width: inherit;
          }

          &:focus,
          &:hover {
            opacity: 1;
          }

          border: 1px solid black;
          color: black;

          [data-theme="dark"] & {
            border: 1px solid white;
            color: white;
          }
        }
      }

      .theme-options {
        display: flex;
        gap: 16px;
        margin-top: 5px;

        label {
          display: flex;
          align-items: center;
          gap: 4px;
          cursor: pointer;
        }

        input[type="radio"] {
          width: auto;
          margin: 0;
          padding: 0;
          border: none;
        }
      }

      .actions {
        input[type="submit"] {
          width: 100%;
          background: transparent;
          border-radius: 3px;
          padding: 5px 10px;
          font-size: 16px;
          opacity: 0.8;
          transition: all 0.3s;

          &:hover {
              opacity: 1;
          }

          border: 1px solid black;
          color: white;
          background: black;

          [data-theme="dark"] & {
            border: 1px solid white;
            color: black;
            background: white;
          }
        }
      }
    }
  }
}
